.freeGame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 2s all ease;
}

.freeGameInnerDiv{
    width: min-content;
    background-color: #191d4b;
    border: 1vh solid #00eef0;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.fgTitle{
    padding: 4vh;
    text-align: center;
    background-color: #00eef0;
    color: #191d4b;
    font-weight: bold;
    font-size: 4vh;
    white-space: nowrap;
}

.fgGameName{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    padding: 4vh 0 0 0;
}

.fgText{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    padding: 4vh;
}

.fgButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4vh;
}

.fgButton{
    border: 0.8vh solid #00eef0;
    padding: 1vh 2vh;
    font-size: 5vh;
    border-radius: 2vh;
    cursor: pointer;
    color: #00eef0;
    font-weight: bold;
}

.fgPlay:hover{
    background-color: #008000;
}

.fgBack:hover{
    background-color: #00818373;
}

.fgGameButton{
    font-size: 4vh;
    border: 0.5vh solid;
    border-radius: 2vh;
    padding: 1vh 3vh;
    cursor: pointer;
}

.otherGame{
    background-color: white;
    color: rgb(17, 17, 17);
    position: absolute;
    right: -300px;
    top: 50%;
    padding: 2vh;
    font-weight: bold;
    border-radius: 2vh;
    font-size: 2vh;
    cursor: pointer;
}